<div class="container-fluid ">
  <div class="row">
    <div class="col-lg-2 bg-dark">
      <app-admindashboard></app-admindashboard>
   </div>
   <div class="col-lg-1">

   </div>
   <div class="col-lg-9">



<div class="container ">
    <div class="col-xl-6 border mt-5 temp shadow" style="margin-left: 25%;">
        <div class="card-body p-md-5 text-black">
          <h3 class="mb-5 text-uppercase text-center" style="letter-spacing: 0.2em;">Add User / Admin</h3>
      <hr>
          <div class="row">
            <div class="col-md-6 mt-1">
              <div class="form-outline">
                <input type="text" id="form3Example1m" class="form-control form-control-md" placeholder="First name"/>

              </div>
            </div>
            <div class="col-md-6 mt-1">
              <div class="form-outline">
                <input type="text" id="form3Example1n" class="form-control form-control-md" placeholder="Last name"/>

              </div>
            </div>
          </div>



          <div class="form-outline mt-4">
            <input type="text" id="form3Example8" class="form-control form-control-md" placeholder="Address"/>

          </div>
          <div class="form-outline mt-4">
            <input type="text" id="form3Example97" class="form-control form-control-md" placeholder="Email ID"/>

          </div>

          <div class="mt-4">
            <select class="form-select" aria-label="Default select example">
                <option selected>Select Role</option>
                <option value="user">User</option>
                <option value="admin">Admin</option>

              </select>
          </div>


          <div class="row mt-4">
            <div class="col-md-6 mt-1">
              <div class="form-outline">
                <input type="text" id="form3Example1m" class="form-control form-control-md" placeholder="City"/>

              </div>
            </div>
            <div class="col-md-6 mt-1">
              <div class="form-outline">
                <input type="text" id="form3Example1n" class="form-control form-control-md" placeholder="State"/>

              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6 mt-4">
              <div class="form-outline">
                <input type="number" id="form3Example1m" class="form-control form-control-md" placeholder="PinCode"/>

              </div>
            </div>
            <div class="col-md-6 mt-1">
              <div class="form-outline">
                <input type="hidden" id="form3Example1n" class="form-control hidden form-control-md" placeholder="Last name"/>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mt-4">
              <div class="form-outline">
                <input type="text" id="form3Example1m" class="form-control form-control-md" placeholder="Password"/>

              </div>
            </div>
            <div class="col-md-6 mt-1">
              <div class="form-outline">
                <input type="hidden" id="form3Example1n" class="form-control hidden form-control-md" placeholder="Last name"/>
              </div>
            </div>
          </div>

        <div class="mt-4 text-center">
            <button type="button" class="btn  btn-outline-primary">Submit</button>
        </div>

    </div>
        </div>
      </div>
    </div>
      </div>
</div>
<div class="container-fluid " style="border-top: 1px solid black;">
  <footer class="py-3">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Address</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary" style="color: black;">&copy; 2023 Company, Inc</p>
  </footer>
</div>
